extends layout

block content
	h1= title
	div
	if (cats.length > 0)
		each cat in cats
			div(value=cat) 
				p Name: #{cat.name}	
				p Colors: #{cat.colors.join(', ')} 
				p Age: #{cat.age}
				p --------------------------
	else
		if colorsort
			p Oh, dear.  It seems we have run out of cats in that color.
		else
			p Oh, dear.  It seems we are all out of cats.